.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.col-centered{
    float: none;
    margin: 0 auto;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.table-container {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.table-container .col-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.panel-default > .panel-heading-custom {
    background: #ccffd5;
}

.bg-gray {
    background-color: #ccffd5;
}